@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    position: relative;
   
}

.advice-num {
    color: hsl(150, 100%, 66%);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 14px;
}

.advice-content {
    font-size: 18px;
    font-weight:800;
    color: white;
    letter-spacing: 1.1px;
    margin-bottom: 20px;
}

button {
    position: absolute;
    left: 50%;
    background: url(images/icon-dice.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 35px;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    border: none;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
   
}
button:hover {
    color: hsl(150, 100%, 66%);
    box-shadow: 0 5px 15px hsl(150, 100%, 66% ,.4);
  }

.divider {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
    main {
        margin: 0 12px;
        padding: 20px;
    }
}